<div class="comment form">
  <hr>
  <h3>Post your comment...</h3>

  <% if comment.errors.any? %>
    <ul class="errors">
        <% comment.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
    </ul>
  <% end %>

  <%= form_for [ article, comment ], remote: true do |f| %>
    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="submit">
      <%= f.submit %>
    </div>
  <% end %>

</div>
