<%= form_for article do |f| %>

  <% if article.errors.any? %>
  <ul>
    <% article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :published_at %> <br>
    <%= f.date_select :published_at %>
  </div>

  <div>
    <%= f.submit %> <span>or</span>
    <%= link_to "Cancel", "/articles" %>
  </div>

<% end %>
