<h1>Blog</h1>

<div class="call-to-action">
  <%= link_to "Post a new Article", "/articles/new" %>
</div>

<h3>Articles</h3>

<% if articles.any? %>
  <ul>

    <% for article in articles %>
      <li>
        <h3><%= link_to article.title, "#" %></h3>

        <div class="entry">
          <%= article.body %>
        </div>

        <div class="edit-button">
          <%= link_to "Edit", "/articles/#{article.id}/edit" %> <span> | </span>
          <%= link_to "Remove", "/articles/#{article.id}", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </li>
    <% end %>

  </ul>
<% else %>

  <div class="notice">
    <h4>No articles!</h4>
  </div>

<% end %>
