<%= render article %>

<div id="commentForm">
  <%= render "comments/form" %>
</div>

<div class="comments list">
  <h3>Comments (<%= comments_count %>)</h3>

  <div id="commentsList">
    <%= render comments %>
  </div>
</div>

<div class="links">
  <%= link_to "Back", articles_path %>
</div>
